.history {
    padding-left: 64px;
    padding-right: 64px;
}

.history h2, .history p{
    padding: 0;
}

.history-grid{
    display: grid;
    gap: 80px;
    margin-top: 40px;
    padding: 0;
}

.history-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 80px;
    align-items: center;
    padding: 0;
    background: transparent;
    border: none;
    box-shadow: none;
}

.history-img{
    position: relative;
}

.history-img::before{
    content: "";
    position: absolute;
    inset: -14px -14px 14px 14px;
    border-radius: 18px;
    pointer-events: none;
    z-index: 0;
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 12px 12px 28px rgba(0,0,0,.20), 0 18px 40px rgba(0,0,0,.15);
}

.history-img img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 18px;
    display: block;
    position: relative;
    z-index: 1;  
}

.history-content{
    order: 2;
}

.history-content em{
    color: var(--accent2);
    font-weight: bold;
}

.history-content p{
    margin: 0;
    padding: 0;
    line-height: 2;
    text-align: justify;
}

.history-row:nth-child(2) .history-img{ 
    order: 2; 
}
.history-row:nth-child(2) .history-content{
    order: 1;
}

.history-row:nth-child(2){
    grid-template-columns: 2fr 1fr;
}

@media (max-width: 900px){
    .history-row, .history-row:nth-child(2){
        grid-template-columns: 1fr;
        gap: 18px;
    }
    .history-img{ 
        order: 1 !important;
    }
    .history-content{
        order: 2 !important;
    }

    .history-img img{ 
        height: 240px; 
        }
}

@media (max-width: 500px) {
    .history {
        padding-left: 20px;
        padding-right: 20px;
    }

    .history-grid {
        gap: 40px;
    }

    .history-row {
        gap: 12px;
    }
    .history-content p {
        text-align: left;
    }
}
